:root {
    --laranja: #D2872C;
    --cinza: #818185; 
    --black: #353a48;
    --grey: #ccc;
    --text-shadow:.1rem .1rem .3rem #333;
    --box-shadow:.1rem .1rem .3rem #333;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: var(--cinza);
    box-sizing: border-box;
}