header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
header .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #D2872C;
}

.menu {
  display: flex;
}

.menu-item {
  display: inline-block;
  padding: 10px 20px;
}
